The data dictionary for our analysis

pixar_films.csv
variable	class	description
number	integer	Order of release.
film	character	Name of film.
release_date	date	Date film premiered.
run_time	integer	Film length in minutes.
film_rating	character	Rating based on Motion Picture Association (MPA) film rating system.

public_response.csv
variable	class	description
film	character	Name of film.
rotten_tomatoes	integer	Score from the American review-aggregation website Rotten Tomatoes; scored out of 100.
metacritic	integer	Score from Metacritic where scores are weighted average of reviews; scored out of 100.
cinema_score	character	Score from market research firm CinemaScore; scored by grades A, B, C, D, and F.
critics_choice	integer	Score from Critics' Choice Movie Awards presented by the American-Canadian Critics Choice Association (CCA); scored out of 100.

the pixar_films.csv can be found in the variable 'url_film'

the public_response.csv can be found in the variable 'url_response'

you can merge on the columns 'film' in each variable